input{
	
    background: rgba(255,255,255,0.5);
	
	
}


.descriptionInput { 
    width:300;
	height:500;
}

.addBack {
	background-color: rgb(255,255,255);
    text-shadow: 0 0px 0px rgba(0,0,0,0);
    color: #000000;
	
}

