<template name="home">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
       	 	<h1 class="cover-heading text-center"> Never Forget Your Warranty Again.</h1>
				
	  
 
<br>

<div class="cover-container about ">

  <!-- Three columns explaning what we do -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="images/dataEntry.jpg">
      <h2>Enter Your Info</h2>
      <p>As soon as you buy something that has a warrenty enter your info. </p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="images/snapapic.png">
      <h2>Snap a pic</h2>
      <p>Take a quick picture of your receipt.</p>
	  <br>
	  <br>
      <p><a class="btn btn-lg btn-info" href="{{ pathFor 'email' }}">Add your first product now! </a></p>
	  	  
    </div>
	
    <div class="col-md-4 text-center">
      <img class="img-circle" src="/images/relax.jpg">
      <h2>Enjoy piece of mind.</h2>
      <p>From here on out you enjoy your new device. We will take care of the rest. </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

   




				
			   
			   <br>
			   <br>
	  

    <div class="mastfoot text-center">
        <p>© 2014 smalltowngeeks.net ~ <a href="http://smalltowngeeks.net/">Meteor + Bootstrap = Goodness </a></p>
    </div> </div>
	
	
	
	    	</div>
		</div>
	</div>

	
</template>

